// Path
$path-icon: '../assets/icons/';
$path-image: '../assets/images/';

// Icon
$kypham-logo-light: 'kypham-logo-light.svg';
$kypham-logo-dark: 'kypham-logo-dark.svg';
$kypham-logo-gradient: 'kypham-logo-gradient.svg';

$k-logo-light: 'k-logo-light.svg';
$k-logo-dark: 'k-logo-dark.svg';
$k-logo-gradient: 'k-logo-gradient.svg';

$arrow-light: 'arrow-light.svg';
$arrow-dark: 'arrow-dark.svg';
$arrow-gradient: 'arrow-gradient.svg';

$quote-light: 'quote-light.svg';
$quote-dark: 'quote-dark.svg';
$quote-gradient: 'quote-gradient.svg';

$facebook-light: 'facebook-light.svg';
$facebook-dark: 'facebook-dark.svg';
$facebook-gradient: 'facebook-gradient.svg';

$instagram-light: 'instagram-light.svg';
$instagram-dark: 'instagram-dark.svg';
$instagram-gradient: 'instagram-gradient.svg';

$linkedin-light: 'linkedin-light.svg';
$linkedin-dark: 'linkedin-dark.svg';
$linkedin-gradient: 'linkedin-gradient.svg';

$slack-light: 'slack-light.svg';
$slack-dark: 'slack-dark.svg';
$slack-gradient: 'slack-gradient.svg';

$gmail-light: 'gmail-light.svg';
$gmail-dark: 'gmail-dark.svg';
$gmail-gradient: 'gmail-gradient.svg';
