.wrapper {
  min-height: 100vh;
  gap: 151px;
}

.awesome {
  width: 1200px;
  height: 608px;
  display: flex;
  justify-content: center;
  gap: 79px;
  margin-bottom: 100px;
}

.awesome_service__content {
  width: 429px;
  height: 186px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.awesome_service__title {
  font-weight: 600;
  font-size: 62px;
  line-height: 93px;
  color: var(--white);
  font-style: normal;
  text-transform: capitalize;
  max-width: 400px;
  text-overflow: ellipsis;
}

.awesome_service__description {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 36px;
  text-align: left;
  color: var(--secondary-color);
  flex: none;
  order: 1;
  flex-grow: 0;
  text-transform: capitalize;
  max-width: inherit;
  text-overflow: ellipsis;
  max-lines: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.awesome_service__project {
  width: 692px;
  height: 608px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}